html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
span {
  position: relative;
  padding-left: 20px;
  top: -5px;
  font-size: 14px;
  font-weight: 600;
}
hr {
  margin: 0;
  height: 1px;
  border: none;
  background-color: #dadce0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  color: #7c7c7c;
  font-weight: 500;
}
